.cm-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.cm-link:hover,
.cm-link:focus {
  color: #fff;
  text-decoration: underline;
}
.cm-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.286;
  visibility: visible;
  opacity: 0;
}
.cm-tooltip.in {
  opacity: .95;
}
.cm-tooltip.top {
  padding: 5px 0;
  padding-bottom: 9px;
  margin-top: -3px;
}
.cm-tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.cm-tooltip.bottom {
  padding: 5px 0;
  padding-top: 8px;
  margin-top: 3px;
}
.cm-tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.cm-tooltip-inner {
  max-width: 600px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #d9534f;
  line-height: 1.286;
  padding: 12px 12px !important;
  width: 183px;
  border-radius: 6px;
}
.cm-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.cm-tooltip.top .cm-tooltip-arrow {
  bottom: 0;
  left: 50%;
  border-top-color: #d9534f;
  border-width: 9px 9px 0;
  bottom: 0;
  margin-left: -9px;

}
.cm-tooltip.top-left .cm-tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #d9534f;
}
.cm-tooltip.top-right .cm-tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #d9534f;
}
.cm-tooltip.right .cm-tooltip-arrow {
  top: 50%;
  border-right-color: #d9534f;
  border-width: 9px 9px 9px 0;
  margin-top: -9px;
  left: -3px;
}
.cm-tooltip.left .cm-tooltip-arrow {
  top: 50%;
  border-left-color: #d9534f;
  border-width: 9px 0 9px 9px;
  margin-top: -9px;
  right: -3px;
}
.cm-tooltip.bottom .cm-tooltip-arrow {
  left: 50%;
  border-bottom-color: #d9534f;
  border-width: 0 9px 9px;
  margin-left: -9px;
  top: -1px;
}
.cm-tooltip.bottom-left .cm-tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d9534f;
}
.cm-tooltip.bottom-right .cm-tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d9534f;
}
.cm-close {
  float: right;
  margin-right: 5px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}
.cm-close:hover,
.cm-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  outline: none;
}
button.cm-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
