.cm-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.cm-tooltip.in {
  filter: alpha(opacity=9);
  opacity: .9;
}
.cm-tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.cm-tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.cm-tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.cm-tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.cm-tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #d9534f;
  border-radius: 4px;
}
.cm-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.cm-tooltip.top .cm-tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #d9534f;
}
.cm-tooltip.top-left .cm-tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #d9534f;
}
.cm-tooltip.top-right .cm-tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #d9534f;
}
.cm-tooltip.right .cm-tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #d9534f;
}
.cm-tooltip.left .cm-tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #d9534f;
}
.cm-tooltip.bottom .cm-tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d9534f;
}
.cm-tooltip.bottom-left .cm-tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d9534f;
}
.cm-tooltip.bottom-right .cm-tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #d9534f;
}
.cm-close {
  float: right;
  margin-right: 5px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.cm-close:hover,
.cm-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.cm-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.cm-mail {
  cursor:pointer;
}
.cm-mail:hover {
  text-decoration: underline;
}
